<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/index.css"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
  <title>OPTIMUS</title>
</head>
<body>
  <div class="intro--child-container">
    <div class="intro"> 
      <h1 class="intro-heading">Your Ultimate Task Management Solution</h1>
      <p class="intro--p">Welcome to OPTIMUS</p>
      <p class="intro--p footer--hidden"> Welcome to Tackle, your gateway to effortless productivity and streamlined task management. Say goodbye to missed deadlines and hello to a more organized, stress-free future with Tackle.</p>
      <a class="intro--link" href="/signUp">get started </a>
    </div>
    <footer class="intro--footer"> 
      <p class="intro--footer-p">&copy; 2023 OPTIMUS. All right reserved<a class="footer--link">  || Crown</a></p>
    </footer>
  </div>
</body>
</html>