<!DOCTYPE html >
<html>
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' localhost:3000;"/>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="stylesheet" href="/mediaQ.css"/>

    <link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
    <title>Tackle</title>
  </head>
  <body class="intro-body"> 
<div class="intro--child-container">
  <div class="intro login-intro"> 
    <form class="login" action="/api/v1/Login" method="POST"> 
      <input class="login-username login-cta login-email" type="email" placeholder="email" id="email" name="email"/>
      <input class="login-username login-cta login-password" type="password" placeholder="password" id="pasword" name="password"/>
      <button class="login-submit login-cta">submit </button>
      <p class="login-p">
        don't have an account ?  <a class="login-link" href="/signUp">sign up</a></p>
    </form>
  </div>
</div>
   
    <script src="js/login.js" type="module"></script>
  </body>
</html>